:root {
    --bg-dark: #0f0a19;
    --bg-light: #f1f1f8;
    --text-light: #ffffff;
    --text-dark: #121212;
    --error-color: #ff3e3e;
}

.light-mode {
    --bg-primary: var(--bg-light);
    --bg-secondary: #8ecde0;
    --bg-tertiary: #61afc7;
    --bg-especial: #106c88;
    --bg-especialuno: #2d8daa;
    --text-primary: var(--text-dark);
    --shadow-color: rgba(36, 105, 194, 0.644);
    --border-color: rgba(0, 0, 0, 0.2);
    --glow-color: rgba(11, 92, 223, 0.3);
}

.dark-mode {
    --bg-primary: var(--bg-dark);
    --bg-secondary: rgba(20, 20, 40, 0.7);
    --bg-tertiary: rgba(40, 40, 116, 0.6);
    --bg-especial: rgba(36, 36, 94, 0.6);
    --bg-especialuno: rgba(18, 18, 65, 0.733);
    --text-primary: var(--text-light);
    --shadow-color: rgba(157, 78, 221, 0.3);
    --border-color: rgba(157, 78, 221, 0.3);
    --glow-color: rgba(157, 78, 221, 0.3);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--bg-primary);
    /* Cambia el color de fondo */
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: var(--text-primary);
    /* Cambia el color del texto */
}

.calculator {
    margin-top: 5%;
    background-color: var(--bg-secondary);
    border-radius: 0.5rem;
    padding: 5%;
}

.display {
    margin-bottom: 2%;
}

.display input {
    width: 100%;
    padding: 2%;
    font-size: 2em;
    text-align: right;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

button {
    padding: 10px;
    font-size: 1.5em;
    /* Cambia el tamaño de la fuente */
    color: #fff;
    background-color: var(--bg-tertiary);
    /* Cambia el color del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--shadow-color);
    /* Cambia el color del botón al pasar el cursor */
}

button:active {
    transform: translateY(2px);
    /* Añade efecto al presionar */
}

button:nth-child(1),
button:nth-child(2),
button:nth-child(3),
button:nth-child(4),
button:nth-child(5),
button:nth-child(6),
button:nth-child(7),
button:nth-child(8),
button:nth-child(12),
button:nth-child(13),
button:nth-child(14),
button:nth-child(18),
button:nth-child(19),
button:nth-child(20),
button:nth-child(24),
button:nth-child(25),
button:nth-child(26),
button:nth-child(30) {
    background-color: var(--bg-especialuno);
}

button:nth-child(29){
    background-color: var(--bg-especial);
}

button:nth-child(1):hover,
button:nth-child(2):hover,
button:nth-child(3):hover,
button:nth-child(4):hover,
button:nth-child(5):hover,
button:nth-child(6):hover,
button:nth-child(7):hover,
button:nth-child(8):hover,
button:nth-child(12):hover,
button:nth-child(13):hover,
button:nth-child(14):hover,
button:nth-child(18):hover,
button:nth-child(19):hover,
button:nth-child(20):hover,
button:nth-child(24):hover,
button:nth-child(25):hover,
button:nth-child(26):hover,
button:nth-child(30):hover {
    background-color: var(--glow-color);
}

button:nth-child(29):hover{
    background-color: var(--border-color);
}